<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/departmentList']">Department<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/country']">Country</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/toDoList']">To Do List</a>
      </li>
    </ul>   
  </div>
</nav>



<div class= "container" >
<div class="card-group">
  <div class="card" >
      <div class="row  ">

<nav class="nav flex-column " style=" background: #0e5061; ">
  <a class="nav-link text-center text-white mx-auto active " style="border-bottom: 1px solid #b5d1ff;height: 80px; margin-top: 12px; " [routerLink] = "['/departmentList']" ><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Department List</a>
  <a class="nav-link text-center text-white "  style="border-bottom: 1px solid #b5d1ff;height: 80px;margin-top: 12px; " [routerLink] = "['/country']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Country</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 80px;margin-top: 12px; " [routerLink] = "['/toDoList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />To Do List</a>
  
</nav>


</div>
</div>
  
  <div class="card ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
</div>
  
  <div class="container" >
   
    <div style="width: 85px; display:inline-block;font-size: 14px">
       <div class="card" >
      <div class="row  ">

<nav class="nav flex-column " style=" background: #0e5061;  ">
  <a class="nav-link text-center text-white mx-auto active " style="border-bottom: 1px solid #b5d1ff;height: 85px; margin-top: 12px; " [routerLink] = "['/departmentList']" ><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Department List</a>
  <a class="nav-link text-center text-white "  style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/country']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Country</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/toDoList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />To Do List</a>
  
</nav>
</div>
</div></div><div style="width:90%;display:inline-block;margin-left: 20px;"><div class="card ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div></div>
  
  </div>
