<!--The content below is only a placeholder and can be replaced.
<div style="margin-bottom: 20px">
<app-sidebar></app-sidebar>
</div>
<div >-->
  
  <!--<h1>
    Welcome to {{title}}!
  </h1>
  <app-department></app-department>
  <br />
  <app-country></app-country>
  <br />
  <br />
  <div class="container">
  <app-todo-overview></app-todo-overview>
  <app-todo-list></app-todo-list>
  </div>

  <br />
  New Table
  <br/>-->
  

  <!--<router-outlet></router-outlet>-->

  <!--<app-department-list></app-department-list>-->

<!--</div>-->

<div class="container" >
   
    <div style="width: 85px; display:inline-block;font-size: 14px; vertical-align: top;">
       <div class="card" >
      <div class="row  ">

<nav class="nav flex-column " style=" background: #0e5061;  ">
  <a class="nav-link text-center text-white mx-auto active " style="border-bottom: 1px solid #b5d1ff;height: 85px; margin-top: 12px; " [routerLink] = "['/departmentList']" ><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Department List</a>
  <a class="nav-link text-center text-white "  style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/country']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Country</a>  
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/client']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Client</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Pay Area</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Work Instructions</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />References</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Service Calendar</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Service CalendarEmail</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Data Loader</a>

  
</nav>
</div>
</div></div><div style="width:85%;display:inline-block;margin-left: 15px;vertical-align: top">
  <div style="background: #edf2f9; padding: 10px;">
   <router-outlet></router-outlet>
  </div>
  </div>
  
  </div>